html, body{
	overflow-x:hidden;
}


.wrapper{
	
	margin-top:30px;
	
}

.container{
	
	margin-top:0px;
	
}


body.type-story .panel-mainL, body.type-gallery .panel-mainL, body.type-organic-group .panel-mainL, body.type-page .panel-mainL{
	width:595px;
	
}

.path-edit .panel-mainL, .path-galleriesorder .panel-mainL{
	width:795px;
	
}


.block-menu ul li, .block-menu ul li ul li{
	
}

.block-menu ul li a, .block-menu ul li ul li a{
	direction:rtl;
}






.block-menu ul li ul{

	float:right;
	margin:0;
	padding:0;
	
}

body.home #block-menu_block-3 ul li ul{
	min-width:120px;
}


.block-menu ul li ul li{
	display:block;
}


#topNavigation .block-menu ul li ul{
	min-width:100px;
	
	display:none;
	
	top:13px;
	text-align:right;
}

#topNavigation .block-menu ul li:hover ul{
	display:block;
}

#topNavigation .block-menu ul li ul li{
	width:auto;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	display:block;
	float:right;
	clear:right;
	white-space:nowrap;
}

#topNavigation .block-menu ul li ul li a:hover{
	width:100%;
	background-color:transparent;
	text-decoration:underline;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-left:0;
}

#topNavigation .block-menu ul li ul li a{
	width:auto;
	font-weight:normal;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	display:block;
}

#topNavigation .block-menu ul li ul li:hover{
	background-color:transparent;
}


#navigation ul li {
	z-index:100;
}

#navigation ul li ul{
	height:auto;
	border-top-width:0px;
	border-top-style:solid;
	border-top-color:#4c4c4c;
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#333333;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#333333;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#9b9b9b;
	background-color:#ffffff;
	padding-top:2px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:0px;
	margin-right:0;
	margin-bottom:0;
	margin-left:5px;
	display:none;
	position:absolute;
	top:25px;
	right:-5px;
	z-index:300;
}



#navigation ul li ul li{
	width:100%;
	height:auto;
	background-color:transparent;
	text-align:right;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	float:right;
	clear:right;
	white-space:nowrap;
	display:block;
}

#navigation ul li ul li a{
	width:100%;
	color:#333333;
	text-align:right;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:10px;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}


#navigation ul li ul li a:hover{
	text-decoration:underline;
}



#navigation ul li:hover ul, #navigation ul li ul li:hover ul{
	display:block;
}


.redBlock, #left .redBlock{
	width:100%;
}

.rightRed{
	height:100%;
}

#views_slideshow_singleframe_pager_1{

	text-align:center;
}

.views_slideshow_singleframe_pager div{
	clear:none;
	
	padding-left:5px;
	margin-top:2px;
}

.page .panel-left{
	width:170px;
}

#block-block-8{
	overflow:visible;
}

.homePromotionTransparent{
	filter:alpha(opacity=80);
}

#fotter-extraLinks{
	width:110px;
}

#fotter-extraLinks ul li{
	width:110px;
}

.jcarousel-skin-tango .jcarousel-container{
	top:0px;
	margin-bottom:20px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal{
	top:140px;
}

#block-views-home_page_videos-block_1{
	
	width:449px;
}

#block-views-home_page_images-block_1{
	
	margin-top:10px;
	width:449px;
}

#block-menu-secondary-links{
	
	position:relative;
	width:640px;
}

.home .panel-Bottomleft{
	width:260px;
}

div.view-gallery table.views-view-grid td {
	
	vertical-align:top;
}

#block-views-home_page_promotion-block_1{
	width:580px;
}

.view-latest-news div div{
	width:100%;
}