/*
Theme Name: Sanda
Description: Sanda, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */

/* Generated with Artisteer version 2.3.0.23326, file checksum is 28563A63. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #2DA1C8;
	background-image: url('images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
	direction:rtl;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}



#art-page-background-gradient
{
	position: absolute;
	background-image: url('images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 167px;
	
}

#art-page-background-gradient
{
	background-position: top left;
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}


/* Image Assis module support */
body.img_assist
{
  background-color: #2DA1C8 !important;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 960px;
	min-width:49px;
	min-height:49px;
}

.art-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 76px;
	height: 76px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 38px, 38px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 38px, 38px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(38px, 38px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(38px, auto, auto, 38px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 38px;
	right: 38px;
	height: 76px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 38px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(38px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 38px;
	bottom: 38px;
	width: 76px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 38px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 38px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 38px;
	left: 38px;
	right: 38px;
	bottom: 38px;
	background-image: url('images/Sheet-c.png');
}


.art-Sheet
{
	margin-top: 10px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:960px;
}

/* end Box, Sheet */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 946px;
	height: 150px;
}

div.art-Header-png
{
	position: absolute;
	z-index:-2;
	top: 0;
	left: 0;
	width: 946px;
	height: 150px;
	background-image: url('images/Header.png');
	background-repeat: no-repeat;
	background-position: left top;
}

div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 946px;
	height: 150px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:right;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: right;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	right: 5px;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	/*
	padding: 10px 30px 30px 30px;
	margin:-10px -25px 0 0;
	*/
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin:-30px 144px 0 0;
}


ul.art-menu
{
	float:right;
}



/* menu structure */

.art-menu
{
	padding: 12px 6px 0px 6px;
}

.art-nav
{
	position: relative;
	height: 35px;
	z-index: 100;
}

.art-nav .l, .art-nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 35px;
	background-image: url('images/nav.png');
}

.art-nav .l
{
	left: 0;
	right:0px;
}

.art-nav .r
{
	right: 0;
	width: 946px;
	clip: rect(auto, auto, auto, 946px);
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 23px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 4px;
	margin-left: 4px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 69px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:12px;
}

.art-menu a .r
{
	width:426px;
	right:0;
	clip: rect(auto, auto, auto, 414px);
}

.art-menu a .t 
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
	color: #FFFFFF;
	padding: 0 0px;
	margin: 0 12px;
	line-height: 23px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-23px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-23px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-23px;
}
.art-menu a:hover .t
{
	color: #EAF3FB;
}

.art-menu li:hover a .t
{
	color: #EAF3FB;
}

.art-menu li:hover>a .t
{
	color: #EAF3FB;
}


.art-menu a.active .l, .art-menu a.active .r
{
	top: -46px;
}

.art-menu a.active .t
{
	color: #CDEAF4;
}


/* end MenuItem */

/* begin MenuSubItem */
.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: right;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #134353;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #FFFFFF;
	background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
	color: #FFFFFF;
	background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #FFFFFF;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #FFFFFF;
}


/* end MenuSubItem */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 3px;
	width: 946px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.art-Block-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.art-Block-tc, .art-Block-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #E2F3F8;
}


.art-Block
{
	margin: 7px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 11px;
	margin-bottom: 0px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #1A4F7A;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;	
}





.art-header-tag-icon
{
    height: 30px;
	background-position:right top;
	background-image: url('images/BlockHeaderIcon.png');
	padding:0 0 0 5px;
	background-repeat: no-repeat;
	min-height: 10px;
	margin: 0 0 0 5px;
}




.art-BlockHeader .t h2.subject
{
	height: 30px;
	color: #1A4F7A;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

.art-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 11px;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl, .art-BlockContent-tc, .art-BlockContent-bc,.art-BlockContent-cr, .art-BlockContent-cl
{
	position:absolute;
	z-index:-1;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl
{
	width: 14px;
	height: 14px;
	background-image: url('images/BlockContent-s.png');
}

.art-BlockContent-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

.art-BlockContent-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

.art-BlockContent-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

.art-BlockContent-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

.art-BlockContent-tc, .art-BlockContent-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('images/BlockContent-h.png');
}

.art-BlockContent-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

.art-BlockContent-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

.art-BlockContent-cr, .art-BlockContent-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('images/BlockContent-v.png');
}

.art-BlockContent-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

.art-BlockContent-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

.art-BlockContent-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-image: url('images/BlockContent-c.png');
}


.art-BlockContent-body
{
	color:#153E61;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
margin-right: 10px;
line-height: 125%;
}

.art-BlockContent-body a:link
{
	color: #1C657D;
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #2D88D2;
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #2686A6;
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #1A4F7A;
	margin:0;
	padding:0;
}

.art-BlockContent-body ul li
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
line-height: 125%;
  line-height: 1.25em;
  padding:0 13px 0 0;
  background-image: url('images/BlockContentBullets.png');
  background-repeat: no-repeat;
  background-position:right top;
}



.art-BlockContent-body .calendar-calendar td a:visited, .art-BlockContent-body .calendar-calendar td a.visited
{
	color: #1C657D;
}

.art-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.art-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.art-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.art-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.art-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:23px;
	min-height:23px;
}

.art-Post-body
{
	position: relative;
	z-index: 1;
	padding: 10px;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl, .art-Post-tc, .art-Post-bc,.art-Post-cr, .art-Post-cl
{
	position:absolute;
	z-index:-1;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl
{
	width: 30px;
	height: 30px;
	background-image: url('images/Post-s.png');
}

.art-Post-tl
{
	top:0;
	left:0;
	clip: rect(auto, 15px, 15px, auto);
}

.art-Post-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 15px, 15px);
}

.art-Post-bl
{
	bottom: 0;
	left: 0;
	clip: rect(15px, 15px, auto, auto);
}

.art-Post-br
{
	bottom: 0;
	right: 0;
	clip: rect(15px, auto, auto, 15px);
}

.art-Post-tc, .art-Post-bc
{
	left: 15px;
	right: 15px;
	height: 30px;
	background-image: url('images/Post-h.png');
}

.art-Post-tc
{
	top: 0;
	clip: rect(auto, auto, 15px, auto);
}

.art-Post-bc
{
	bottom: 0;
	clip: rect(15px, auto, auto, auto);
}

.art-Post-cr, .art-Post-cl
{
	top: 15px;
	bottom: 15px;
	width: 30px;
	background-image: url('images/Post-v.png');
}

.art-Post-cr
{
	right:0;
	clip: rect(auto, auto, auto, 15px);
}

.art-Post-cl
{
	left:0;
	clip: rect(auto, 15px, auto, auto);
}

.art-Post-cc
{
	position:absolute;
	z-index:-1;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	background-color: #FFFFFF;
}


.art-Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	border: solid 1px #113450;
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #1B517E;
	vertical-align: top;
	text-align:right;
}

.art-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}



fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: solid 1px #1B517E;
	width: 95%;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:right;
	text-indent:0;
	line-height:inherit;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: normal;
text-align: right;
	color: #185468;
}

.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: normal;
text-align: right;
	margin:0;
	color: #185468;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #2D88D2;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #63A7DE;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #06B7AE;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Arial, Helvetica, Sans-Serif;
font-size:15px;
  color: #1D5A8B;
}


.art-PostContent p 
{
	margin: 0.5em 0;
}

.art-PostContent, .art-PostContent p , .art-PostContent div
{
font-family: Arial, Helvetica, Sans-Serif;
text-align: right;
margin-right: 10px;
margin-left:7px;
line-height: 125%;
  color: #1D5A8B;
}

.art-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #06B7AE;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #06B7AE;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #06B7AE;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #2B9ABF;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 32px;
text-align: right;
  color: #217591;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 28px;
text-align: right;
  color: #217591;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 24px;
text-align: right;
  color: #4E9BDA;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 20px;
text-align: right;
  color: #06B7AE;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 18px;
font-style: normal;
font-weight: bold;
text-align: right;
  color: #1D5A8B;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
text-decoration: none;
text-align: right;
  color: #0E2B43;
}
/* Finish Content headings Fonts & Colors  */


/* Image Assis module support */
body.img_assist
{
  color: #1D5A8B;
}

.art-PostContent .calendar-calendar ul li, .art-PostContent .calendar-calendar ol ul li,
.art-PostContent div.view div.views-admin-links ul li, .art-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.art-PostContent ul.arttabs_primary li, .art-PostContent ul.arttabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}

/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #1D5A8B;
	margin:1em 2em 1em 0;
	padding:0;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
text-align: right;

}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 16px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:33px;
}

div.view-testimonials ul li.views-row-1
{
	background-image:none;
	padding-right:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
.art-PostContent blockquote p
{
	color:#247F9E;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 16px;
font-style: normal;
font-weight: bold;
text-align: right;
}

blockquote,
.art-PostContent blockquote
{
		border:solid 1px #9EC8EA; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 28px;
	background-color:#B4E0EE;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */


blockquote, .art-PostContent blockquote
{
	margin:10px 10px 10px 50px !important;
	padding:5px 5px 5px 28px !important;
}

/* end PostQuote */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:29px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
	vertical-align: middle;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
}

.art-button-wrapper
{
	display:inline-block;
	vertical-align: middle;
	position:relative;
	height: 29px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 29px;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
	white-space: nowrap;
	text-align: right;
	padding: 0 14px !important;
	line-height: 29px;
	text-decoration: none !important;
	color: #FFFFFF !important;
}

input, select
{
  vertical-align: middle;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #FFFFFF !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #EEF5FB !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 87px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:8px;
}

.art-button-wrapper .r
{
	width:409px;
	right:0;
	clip: rect(auto, auto, auto, 401px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -29px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -58px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 946px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 20px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 946px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 30px;
	width: 19px;
    
}

#faceBookLink
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/facebook_logo.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 0 0 5px;
	height: 30px;
	width: 30px;
    
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#1A5E74;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 11px;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #236AA4;
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #2583A2;
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #000000;
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#C1E5F1;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#C0DBF2;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 7px 0 0;
	padding: 0;
	border: 0;
	float: right;
	overflow: hidden;
	width: 283px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 661px;
	
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 944px;
}
/* end LayoutCell */



/*
** HTML elements
*/

body.art-body-nostyle
{
	background: none;
}

ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: right;
	display: block;
	list-style-type: none;
	list-style-image: none;	
}

.arttabs_primary, .arttabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.arttabs_primary li a, ul.arttabs_secondary li a
{
	margin: 0 5px;
}

ul.links li
{
	display: inline;
	background-image: none;
}

ul.menu li a.active
{
	font-weight: bold;
}

li.messages
{
	margin: 5px 0;
}

#comment-form textarea, #comment-form input
{
	display: block;
	width: 95%;
}

#user-login-form
{
	text-align: right;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

#edit-name, #edit-pass, #edit-mail, #search-block-form input.form-text
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

.sticky-table
{
	width: 100%;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: right;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:right;
	clear:both;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.art-Footer .art-Footer-inner
{
	float: left;
	width: 100%;
}

.art-BlockContent
{
	width: 100% !important;	
}

/* Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}

/* ImageField module fix */
img.imagefield
{
	margin: 0;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

/* Support User picture */
.picture, .comment .submitted
{
	clear:right;
	float:right;
	padding-left:1em;
}

.profile h3
{
	border-bottom:0 none;
	margin-bottom:1em;
}

/* Support Nodeblock module */
.art-Block-body .art-PostHeader
{
	display: none;
}

.art-Block-body .art-Post
{
	margin: 0;
}

/* Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}

#menu-parent{
  position:relative;
  top:-13px;
}

.taxonomy-term-description  {
margin:5px 20px 0;
}

.art-content h2{
  margin:15px 20px;
  line-height:28px;
}

.taxonomy-list-item {
clear:both;
float:none;
margin:25px 10px;
}

.taxonomy-list-term {
float:right;
margin-left:5px;
}

.taxonomy-list-term-count  {
float:right;
font-size:85%;
margin-left:1em;
}


.taxonomy-list-description p {
margin-right:0;
text-indent:0em;
}

.art-Block-body .art-BlockContent-body p{
  text-align:center;
}

.art-article img, img.art-article {
border:1px solid #113450;
margin:0em;
}

.art-Post-inner{
  overflow:hidden;
}
#webform-client-form-133{
 margin:5px auto !important;
width:482px;
}
#webform-client-form-133 .textarea-identifier.description{
  display:none;
}

#edit-submitted-tvkn-hhvdh{
  width:443px;
}

.art-Header a{
  display:block;
  width:100%;
  height:100%;
}

.node-form {
  background-color:white;
}

body#ckBody{
  background-color:white;
}

.media_embed{
  text-align:center;
}

#instractor .teaser #instructorBody{
 width:45%;
 float:right;
 
}
#instractor .teaser #instructorPhoto{
 
 float:left;
 
}

#instractor .teaser #instructorLink{
  clear:both;
}

#instructorPhoto{
  width:auto;
  float:right;
}

#instructorLogo{
  width:auto;
  float:left;
}

.view-testimonials .views-field-title{
  display:none;
}

.views-field-field-recomend-name-value{
  margin:0 auto;
  width:425px;
}

.field-field-recomend-logo{
  float:left;
  
}

.field-field-recomend-name p{
  font-weight:bold;
  font-size:18px;
}

.field-field-recomend-position{
  margin-right:10px;
}

#nsHeader,#nsFooter{
  display:none;
}

#block-views-articles-block_1 h3{
  display:none;
}