html{
}

body{
	width:100%;
	height:100%;
	font-family:Arial;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	direction:rtl;
	font-size:13px;
	overflow-x:hidden;
}

a{
	color:#510303;
	font-size:13px;
	text-decoration:none;
	text-align:right;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:0px;
}

.wrapper{
	width:100%;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	position:relative;
}

.container{
	width:989px;
	border-top-width:0px;
	border-top-style:solid;
	border-top-color:#cccccc;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#cccccc;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#cccccc;
	text-align:justify;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:30px;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
	position:relative;
}

.panel{
	border-top-width:0px;
	border-top-style:dashed;
	border-top-color:#cccccc;
	border-right-width:0px;
	border-right-style:dashed;
	border-right-color:#cccccc;
	border-bottom-width:0px;
	border-bottom-style:dashed;
	border-bottom-color:#cccccc;
	border-left-width:0px;
	border-left-style:dashed;
	border-left-color:#cccccc;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	outline:0px solid #cccccc;
}

.both{
	clear:both;
}

.menuBG{
	background-image:url(images/menuBG.jpg);
	display:block;
}

#banner1{
	float:right;
	text-align:center;
	width:100%;
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:16px;
}

.cleared{
	clear:both;
}

#topNavigation{
	width:100%;
	min-height:44px;
	background-image:url(images/topStrip.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-attachment:scroll;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:-5px;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	float:right;
}

.panel-topB{
	width:100%;
	height:102px;
	background-image:url(images/logo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:scroll;
	float:right;
}

#navigation{
	width:100%;
	height:35px;
	background-image:url(images/menuBg.jpg);
	background-position:center;
	background-repeat:repeat-x;
	background-attachment:scroll;
	float:right;
}

.panel-topD{
	width:100%;
	height:132px;
	float:right;
}

.panel-mainR{
	width:135px;
	float:right;
	padding:0 20px 0 0;
}

.block-block{
	color:#000000;
	font-family:Arial;
	font-size:13px;
	margin-right:20px;
	margin-top:20px;
}

.panel-mainL{
	width:795px;
	float:right;
	padding-top:0px;
	padding-left:5px;
	padding-bottom:0px;
	padding-right:20px;
	height:100%;
}

.home .panel-mainL{
	width:949px;
	float:right;
	padding-top:0px;
	padding-left:5px;
	padding-bottom:0px;
	padding-right:20px;
	height:100%;
}

.panel-Left{
	float:left;
	padding:10px 0 0 5px;
	width:210px;
}

body.type-story .panel-Left, body.type-gallery .panel-Left, body.type-organic-group .panel-Left, body.type-page .panel-Left{
	width:10px;
}

body.type-story .panel-mainL, body.type-gallery .panel-mainL, body.type-organic-group .panel-mainL, body.type-page .panel-mainL{
	width:595px;
	padding-left:0px;
	max-width:795px;
	min-width:595px;
}

.path-edit .panel-mainL, .path-galleriesorder .panel-mainL, body.path-galleries .panel-mainL, body.path-articles .panel-mainL{
	width:100%;
	padding-left:0px;
	max-width:795px;
	min-width:595px;
}

#block-views-advertisers-block_1{
	width:795px;		
}

.breadcrumb{
	margin-bottom:40px;
}

#comments{
	margin-top:15px;
}

.panel-BottomTop{
	float:right;
	height:103px;
	margin-right:40px;
	width:auto;
}

.panel-Bottomleft{
	width:215px;
	height:auto;
	float:left;
	padding-left:20px;
}

.panel-BottomRight{
	clear:left;
	float:right;
	height:auto;
	width:128px;
}

.panel-BottomCright{
	width:362px;
	height:auto;
	float:right;
	
}

.panel-BottomCleft{
	width:258px;
	height:auto;
	float:right;
}

.panel-footer{
	width:100%;
	height:106px;
}

.block-adv{
	background-color:#737373;
	margin-top:12px;
	margin-right:auto;
	margin-bottom:12px;
	margin-left:auto;
}

.adv-mid{
	width:120px;
	height:120px;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

.adv-small{
	width:120px;
	height:50px;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

.adv-midPlus{
	width:120px;
	height:200px;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

.adv-largeH{
	width:945px;
	height:120px;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:5px;
	margin-right:auto;
	margin-bottom:5px;
	margin-left:auto;
}

.block-general{
	background-color:#e3e3e3;
	float:right;
}

.block{
	border-top-width:0px;
	border-top-style:solid;
	border-top-color:#ff7f00;
	border-right-width:0px;
	border-right-style:solid;
	border-right-color:#ff7f00;
	border-bottom-width:0px;
	border-bottom-style:solid;
	border-bottom-color:#ff7f00;
	border-left-width:0px;
	border-left-style:solid;
	border-left-color:#ff7f00;
}

.block-menu ul{
	list-style-type:none;
}

.block-menu ul li{
	margin-left:15px;
	float:right;
	position:relative;
}

#topNavigation .block-menu ul li{
	font-size:13px;
	line-height:13px;
	margin-left:0px;
	padding-bottom:10px;
	padding-top:0;
	width:auto;
}

#topNavigation .block-menu ul li ul li{
	line-height:17px;
}

.block-menu ul li ul{
	display:none;
}

#topNavigation .block{
	float:right;
	margin:20px 10px 0 0;
}

#topNavigation .block-menu ul li a{
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	color:#7f7f7f;
	text-decoration:none;
}

.block-menu ul li a{
	font-family:Arial;
	font-size:15px;
	color:#666666;
	text-decoration:none;
	white-space:nowrap;
}

#topNavigation .block-menu ul li:hover ul{
	width:auto;
	height:auto;
	border-top-width:0px;
	border-top-style:outset;
	border-top-color:#4c4c4c;
	border-right-width:2px;
	border-right-style:outset;
	border-right-color:#4c4c4c;
	border-bottom-width:2px;
	border-bottom-style:outset;
	border-bottom-color:#4c4c4c;
	border-left-width:2px;
	border-left-style:outset;
	border-left-color:#4c4c4c;
	background-color:#ffffff;
	padding-top:0px;
	padding-right:10px;
	padding-bottom:5px;
	padding-left:10px;
	margin-top:10px;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	display:block;
	list-style-position:inside;
	list-style-type:none;
	position:absolute;
	right:-15px;
	z-index:200;
}

#topNavigation .block-menu ul li:hover ul li{
	width:auto;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	display:block;
	float:right;
	clear:right;
	white-space:nowrap;
}

#topNavigation .block-menu ul li:hover ul li a:hover{
	width:100%;
	background-color:transparent;
	text-decoration:underline;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-left:0;
}

#topNavigation .block-menu ul li:hover ul li a{
	width:auto;
	font-weight:normal;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	display:block;
}

#topNavigation .block-menu ul li:hover ul li:hover{
	background-color:transparent;
}

#topNavigation .block-static{
	height:100%;
	font-family:Arial;
	font-size:13px;
	color:#000000;
	margin-top:20px;
	margin-right:20px;
	margin-left:0;
}

#topNavigation .block-static a{
	font-size:14px;
	color:#000000;
	text-decoration:none;
	margin-top:-2px;
	display:block;
}

#topNavigation .block-menu ul li:hover{
}

#topNavigation #search-box{
	width:260px;
	height:24px;
	background-image:url(images/search.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:scroll;
	font-size:15px;
	color:#000000;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:10px;
	margin-right:2px;
}

#topNavigation #edit-search-theme-form-1{
	width:180px;
	border-top-width:0;
	border-right-width:0;
	border-bottom-width:0;
	border-left-width:0;
	background-color:transparent;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:3px;
	margin-right:4px;
	margin-bottom:0;
	margin-left:0;
	display:inline;
	float:right;
}

#topNavigation .block-menu ul{
	margin-right:20px;
	margin-left:0;
}

#topNavigation .block-menu ul li a:hover{
	text-decoration:underline;
}

#topNavigation .form-submit{
	width:73px;
	height:auto;
	border-top-width:0;
	border-right-width:0;
	border-bottom-width:0;
	border-left-width:0;
	background-color:transparent;
	font-family:Arial;
	font-size:15px;
	padding-top:2px;
	margin-top:0px;
	display:block;
	cursor:pointer;
	line-height:10px;
}

#navigation ul li.active a.active{
	color:#333333;
}

#navigation ul li a{
	width:100%;
	height:100%;
	background-color:transparent;
	color:#ffffff;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}

#navigation ul li{
	width:auto;
	height:30px;
	text-align:center;
	padding-top:0px;
	padding-right:4px;
	padding-bottom:0;
	padding-left:4px;
	margin-top:10px;
	margin-right:0;
	margin-bottom:0;
	margin-left:9px;
	float:right;
	vertical-align:bottom;
}

#navigation ul{
	height:25px;
	padding-top:0px;
	padding-right:10px;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}

#navigation ul li:hover{
	background-color:#ffffff;
	background-position:top;
	background-repeat:no-repeat;
	background-attachment:scroll;
}

#navigation ul li.active{
	background-color:#ffffff;
	background-position:top;
	background-repeat:no-repeat;
	background-attachment:scroll;
}

#navigation ul li:hover ul{
	height:auto;
	border-top-width:0px;
	border-top-style:solid;
	border-top-color:#4c4c4c;
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#333333;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#333333;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#9b9b9b;
	background-color:#ffffff;
	padding-top:2px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:0px;
	margin-right:0;
	margin-bottom:0;
	margin-left:5px;
	display:block;
	position:absolute;
	top:25px;
	right:-5px;
	z-index:300;
}

#navigation ul li:hover ul li{
	width:100%;
	height:auto;
	background-color:transparent;
	text-align:right;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	float:right;
	clear:right;
	white-space:nowrap;
}

#navigation ul li:hover ul li a{
	width:100%;
	color:#333333;
	text-align:right;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:10px;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}

#navigation ul li:hover a{
	color:#333333;
}

#navigation ul li:hover ul li a:hover{
	text-decoration:underline;
}

#navigation .menuImageBG{
	display:none;
	position:absolute;
	top:-10px;
	right:0;
}

#navigation ul li:hover span.menuImageBG{
	width:100%;
	display:block;
}

#navigation ul li.active span.menuImageBG{
	width:100%;
	display:block;
}

#adminMenu{
}

.page .panel-content{
	width:837px;
	min-height:;
	margin-left:20px;
	float:left;
}

#edit-search-theme-form-1-wrapper label{
	display:none;
}

.redBlock .inner-menu{
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#c7c7c7;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#c7c7c7;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#c7c7c7;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#c7c7c7;
	background-color:#ffffff;
	padding-top:5px;
	padding-right:10px;
	padding-bottom:5px;
	padding-left:5px;
	clear:both;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px;
}

.right .block-menu ul{
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}

.right .block-menu ul li{
	float:none;
}

.right .block-menu h3{
	font-size:15px;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}

.categoryList h3 a{
	font-size:15px;
	color:#333333;
	text-decoration:none;
	margin-right:20px;
}

.categoryList h3 a:hover{
	text-decoration:underline;
}

#navigation ul li:hover ul li ul{
	display:none;
}

#navigation ul li:hover ul li:hover ul{
	border-right-width:0px;
	padding-top:3px;
	padding-right:3px;
	padding-bottom:3px;
	padding-left:3px;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:0;
	display:block;
	position:absolute;
	top:0;
	right:100%;
}

#topNavigation .block-menu ul li:hover ul li ul{
	display:none;
}

.categoryList h3{
	margin-right:20px;
}

.redBlock{
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#c7c7c7;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#c7c7c7;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#c7c7c7;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#c7c7c7;
	background-color:#ededed;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	margin-right:1px;
	position:relative;
	-moz-border-radius:7px;
	float:right;
	border-radius:7px;
	margin-bottom:15px;
}

.greyBlock{
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#c7c7c7;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#c7c7c7;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#c7c7c7;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#c7c7c7;
	background-color:#ededed;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	margin-right:1px;
	position:relative;
	-moz-border-radius:7px;
	border-radius:7px;
	margin-bottom:5px;
	float:right;
	padding:10px;
}

#views_slideshow_singleframe_pager_1{
	clear:right;
	display:inline;
	float:none;
	padding-left:10px;
}

.views_slideshow_singleframe_pager div{
	clear:right;
	display:inline;
	float:right;
	padding-left:10px;
}

#views_slideshow_singleframe_main_1{
	float:left;
	position:relative;
}

.views-slideshow-controls-top{
	float:right;
	width:78px;
}

.imagefield-field_home_promotion_image{
}

.homePromotionTransparent{
	width:500px;
	position:absolute;
	bottom:3px;
	right:0;
	opacity:.8;
	background-color:#000;
	height:100px;
	padding-top:10px;
	padding-right:10px;
}

.homePromotionContent a{
	color:#ffffff;
}

.homePromotionContent{
	width:470px;
	position:absolute;
	bottom:0;
	right:0;
	opacity:1;
	color:#ffffff;
	height:100px;
	padding:10px 10px 0;
}

.views-field-field-home-promotion-teaser-value{
	position:relative;
}

.views-field-field-home-promotion-teaser-value .field-content{
	position:relative;
}

.views_slideshow_singleframe_pager div a img{
	height:72px;
	margin-top:2px;
	opacity:0.6;
	width:75px;
}

.views_slideshow_singleframe_pager div a.activeSlide{
	border:1px solid #000000;
	background-color:#000000;
}

.views_slideshow_singleframe_pager div a.activeSlide img{
	height:72px;
	width:75px;
	opacity:1;
}

.views_slideshow_singleframe_pager a{
	border:0px solid transparent;
	display:block;
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	width:100%;
}

.greyBlock .inner-block{
	background-color:#ffffff;
	-moz-border-radius:7px 0 7px 7px;
	border-radius:7px 0 7px 7px;
	float:right;
	width:100%;
}

.greyBlock .view-petition{
	padding:5px;
}

.cleanBlock{
	float:right;
}

#left .redBlock .inner-block{
	width:120px;
}

.redBlock .inner-block{
	background-color:#ffffff;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px;
	float:right;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
}

#block-user-1 .inner-block{
	background-color:#ffffff;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px;
	float:right;
	width:120px;
}

.redBlock h3{
	min-height:30px;
	height:auto;
	background-color:#BD2307;
	background-image:url("images/block/reBG.jpg");
	background-repeat:repeat-x;
	font-size:15px;
	color:#ffffff;
	text-align:center;
	margin-top:0;
	margin:0 0 5px;
	float:none;
	line-height:15px;
	white-space:nowrap;
	padding:0 5px;
}

.greyBlock h3{
	height:auto;
	background-image:none;
	font-size:auto;
	color:#ffffff;
	text-align:right;
	margin-top:0;
	margin-right:7px;
	margin-bottom:5px;
	margin-left:7px;
	float:none;
	line-height:auto;
	white-space:nowrap;
}

.right .redBlock h3{
	height:30px;
	background-image:url(images/block/reBG.jpg);
	font-size:13px;
	color:#ffffff;
	text-align:center;
	margin-top:0;
	margin-right:7px;
	margin-bottom:5px;
	margin-left:7px;
	float:none;
	line-height:30px;
	white-space:nowrap;
}

.redBlock .leftRed{
	width:7px;
	min-height:30px;
	background-image:url(images/block/leftRed.jpg);
	background-position:left;
	background-repeat:no-repeat;
	float:none;
	position:absolute;
	top:5px;
	left:5px;
	background-color:#BD2307;
}

.redBlock .rightRed{
	width:7px;
	min-height:30px;
	background-image:url(images/block/rightRed.jpg);
	background-position:right;
	background-repeat:no-repeat;
	float:right;
	background-color:#BD2307;
}

.redBlock .menu li a:hover{
	text-decoration:underline;
}

.panel-footer .block{
	clear:none;
}

.panel-footer .block-static{
	background-color:#cf0606;
	color:#ffffff;
	text-align:center;
	padding-top:5px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	margin-bottom:24px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}

.panel-footer .block-static h3{
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}

.panel-footer .block-menu{
	width:auto;
	min-height:70px;
	height:100%;
	background-color:#cf0606;
	padding-top:5px;
	padding-right:5px;
	padding-left:10px;
	-moz-border-radius:7px 7px 0 0;
	border-radius:7px 7px 0 0;
}

.panel-footer .block-menu ul.footerMenu{
	width:100%;
	height:100%;
	background-color:#ffffff;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	display:block;
	float:right;
	-moz-border-radius:7px 7px 0 0;
	border-radius:7px 7px 0 0;
}

.panel-footer .block-menu ul.footerMenu li a{
	font-size:15px;
	color:#000000;
	float:right;
	cursor:text;
}

.panel-footer .block-menu ul.footerMenu li ul{
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	display:block;
	clear:both;
}

.panel-footer .block-menu ul.footerMenu li{
	float:right;
}

.panel-footer .block-menu ul.footerMenu li ul li{
	float:right;
	clear:both;
}

.panel-footer .block-menu .inner-menu{
	width:100%;
	background-color:#ffffff;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}

.panel-footer .block-menu ul.footerMenu li ul li a:hover{
	text-decoration:underline;
}

.panel-footer .block-menu ul.footerMenu li ul li a{
	font-size:13px;
	color:#666666;
	text-decoration:none;
	cursor:pointer;
}

li.expanded{
	list-style-image:none;
	list-style-type:none;
}

li.collapsed{
	list-style-image:none;
	list-style-type:none;
}

li.leaf{
	list-style-image:none;
	list-style-type:none;
}

.arttabs_primary{
	list-style-type:none;
	padding-top:2px;
	padding-right:2px;
	padding-bottom:1px;
	padding-left:2px;
	margin-top:0;
	margin-left:0;
	background-color:transparent;
	border-left-width:0px;
	border-top-width:0px;
	border-right-width:0px;
	border-left-color:#333333;
	border-bottom-color:#333333;
	border-right-color:#333333;
	border-top-color:#333333;
	border-right-style:solid;
	border-left-style:solid;
	border-top-style:solid;
	border-bottom-style:solid;
	height:20px;
	width:100%;
	float:right;
	border-bottom-width:1px;
}

.arttabs_primary li{
	float:right;
	margin-left:5px;
	text-decoration:none;
	line-height:20px;
	margin-right:5px;
	display:block;
	position:relative;
	border-top-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-color:#333333;
	border-right-color:#333333;
	border-bottom-color:#cccccc;
	border-left-color:#333333;
	border-right-style:solid;
	border-bottom-width:0px;
	padding-top:0px;
	padding-right:5px;
	padding-bottom:0px;
	padding-left:5px;
	background-color:#e5e5e5;
	-moz-border-radius:5px 5px 0 0;
	border-left-style:solid;
	border-top-style:solid;
}

.arttabs_primary li a{
	text-decoration:none;
	color:#191919;
}

.arttabs_primary li a:hover{
	text-decoration:underline;
}

#block-user-3 .inner-block{
	padding:5px;
}

.redBlock .menu{
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
	background-color:#ffffff;
}

.image-advertisement img{
	border:1px solid #CCCCCC;
}

.image-advertisement{
	text-align:center;
}

.advertisement-space{
	height:5px;
}

#block-views-latest_news-block_1 ul{
	list-style-type:none;
}

#block-views-latest_news-block_1 ul li{
	list-style-type:none;
	margin:0 10px 0.25em 0;
}

.redBlock .innder-block{
	background-color:#ffffff;
}

.greyBlock h3.subject{
	padding-left:30px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:0;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:0;
	width:auto;
	display:block;
	float:right;
	background-color:#ffffff;
	color:#000000;
	font-weight:normal;
	-moz-border-radius:7px 7px 0 0;
	border-radius:7px 7px 0 0;
}

#block-views-latest_news-block_1 .inner-block{
	-moz-border-radius:7px 0px 7px 7px;
	border-radius:7px 0px 7px 7px;
	padding-top:10px;
	height:340px;
}

#block-views-latest_news-block_1{
	float:left;
	width:188px;
	height:380px;
}

.view-home-page-videos-carusel label{
	display:none;
}

.videoThumbLinkTitle{
	width:140px;
	overflow-x:hidden;
	text-align:right;
	height:40px;
	direction:rtl;
}

#views_slideshow_singleframe_main_1 .field-content{
	position:relative;
	display:block;
}

.jcarousel-skin-tango .jcarousel-container-horizontal{
	width:435px;
	background-image:url("images/caruselBG.jpg");
	background-color:transparent;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-color:#d6d6d6;
	border-top-color:#d6d6d6;
	border-left-color:#d6d6d6;
	border-bottom-color:#d6d6d6;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal{
	width:435px;
	height:130px;
}

#viewscarousel-home_page_videos-block_1{
	width:auto;
	list-style-type:none;
	padding:0;
}

#viewscarousel-home_page_videos-block_2{
	width:auto;
	list-style-type:none;
	padding:0;
}

#viewscarousel-home_page_images-block_1{
	width:auto;
	list-style-type:none;
	padding:0;
}

#viewscarousel-home_page_images-block_2{
	width:auto;
	list-style-type:none;
	padding:0;
}

.jcarousel-skin-tango .jcarousel-item-horizontal{
	width:145px;
	height:140px;
	list-style-type:none;
	padding-right:0px;
	margin-right:0px;
}

.jcarousel-skin-tango .jcarousel-container{
	-moz-border-radius:10px 0 10px 10px;
	top:30px;
	display:block;
	margin-bottom:50px;
}

#block-views-home_page_videos-block_1 .subject{
	width:100px;
	z-index:10;
	margin-top:0;
	margin-right:0px;
	position:relative;
	border-top-width:1px;
	border-top-color:#d6d6d6;
	border-bottom-width:1px;
	border-bottom-color:#d6d6d6;
	border-right-color:#d6d6d6;
	border-left-color:#d6d6d6;
	border-right-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	padding-bottom:0;
	text-align:center;
	padding-top:3px;
	padding-right:0;
	padding-left:0;
	top:1px;
	height:25px;
	cursor:pointer;
	background-color:#f2f2f2;
}

#block-views-home_page_images-block_1 .subject{
	width:100px;
	z-index:10;
	margin-top:0;
	margin-right:0px;
	position:relative;
	border-top-width:1px;
	border-top-color:#d6d6d6;
	border-bottom-width:1px;
	border-bottom-color:#d6d6d6;
	border-right-color:#d6d6d6;
	border-left-color:#d6d6d6;
	border-right-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	padding-bottom:0;
	text-align:center;
	padding-top:3px;
	padding-right:0;
	padding-left:0;
	top:1px;
	height:25px;
	cursor:pointer;
	background-color:#f2f2f2;
}

#block-views-home_page_videos-block_1{
	position:static;
	margin-right:8px;
	margin-top:10px;
}

#block-views-home_page_images-block_1{
	position:static;
	margin-top:10px;
}

#block-views-home_page_videos-block_1 .inner-block{
	background-color:transparent;
	float:none;
}

#block-views-home_page_images-block_1 .inner-block{
	background-color:transparent;
	float:none;
}

.jcarousel-skin-tango .jcarousel-container-horizontal{
	padding:5px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal{
	top:165px;
}


.jcarousel-skin-tango .jcarousel-next-horizontal{
	top:165px;
}

.jcarousel-skin-tango{
	direction:ltr;
}

.views-showcase{
	background-color:#000000;
	height:380px;
	padding:0px !important;
	width:585px;
}

.skin-right .views-showcase-navigation-container{
	float:right;
	width:72px;
}

ul.views-showcase-pager-item-sublist{
	list-style:none outside none;
	width:72px;
}

ul.views-showcase-mini-list{
	list-style:none outside none;
	width:72px;
}

.views-showcase-mini-list li.views-showcase-pager-item{
	background-image:none;
	padding:0;
}

.views-showcase-mini-list li.views-showcase-pager-subitem{
	background-image:none;
	padding:0;
}

.item-list ul li{
	margin:0;
}

.view-latest-news div div{
	width:100%;
}

#block-views-new_sport-block_3 .views-row{
	margin:5px 0 0;
	padding:0 0 5px;
}

#block-views-new_sport-block_2 .views-row{
	margin:5px 0 0;
	padding:0 0 5px;
}

#block-views-new_sport-block_1 .views-row{
	margin:5px 0 0;
	padding:0 0 5px;
}

.views-row{
	float:right;
	width:100%;
	border-bottom:1px solid #CCCCCC;
}

.block li.views-row{
	list-style-type:none;
}

.block li.views-row a{
	white-space:nowrap;
	font-size:13px;
	font-family:Arial;
	color:#510303;
	text-decoration:none;
	word-spacing:-1px;
}

.block li.views-row a:hover{
	text-decoration:underline;
}

.redBlock ul{
	padding-top:0;
	padding-left:0;
	padding-right:0;
	margin-top:0;
	margin-left:0;
	margin-bottom:0;
}

.jcarousel-skin-tango .jcarousel-item-horizontal a img{
	width:140px;
	height:95px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal a{
	color:#510303;
	font-size:12px;
	text-decoration:none;
	white-space:normal;
	text-align:right;
}

.jcarousel-skin-tango .jcarousel-item-horizontal a:hover{
	text-decoration:underline;
}

.art-PostContent table{
	border-collapse:separate;
}

.sportListImage{
	float:right;
}

.sportListTeaser{
	float:right;
	margin-right:10px;
	width:75%;
}

.sportListTeaser .title a{
	font-size:13px;
	font-weight:bold;
}

.sportListTeaser .body{
	font-size:12px;
}

.sportListTeaser .info span{
	font-size:11px;
	margin-right:5px;
}

.sportListTeaser .info{
	font-size:11px;
	float:left;
	margin-top:5px;
}

.views-field-field-article-teaser-value{
	float:right;
	padding:5px;
}

html.js fieldset.collapsed em{
	display:block;
}

table.views-table{
	width:100%;
}

tr.even{
	background-color:#EEEEEE;
	border-bottom:1px solid #CCCCCC;
}

tr.odd{
	background-color:#E0EBEF;
	border-bottom:1px solid #CCCCCC;
}

.ui-datepicker .ui-datepicker-header{
	direction:ltr;
}

.ui-datepicker select.ui-datepicker-month{
	direction:rtl;
}

.ui-datepicker select.ui-datepicker-year{
	direction:rtl;
}

.advertiserImage{
	float:right;
	margin:5px 0;
}

.advertiserContent{
	float:right;
	text-align:justify;
	width:75%;
	padding-right:10px;
}

.advertiserClosure .left{
	float:right;
}

.advertiserClosure .right{
	float:left;
}

.advertiserClosure .left p{
	margin:0;
	display:inline;
}

.advertiserRow{
	margin:10px 0;
}

.advertiserClosure{
	margin:10px 0;
}

#block-views-advertisers-block_1 .views-row-even{
	background-color:#E0EAEF;
	padding:5px;
}

#block-views-advertisers-block_1 .views-row-odd{
	background-color:#EEEEEE;
	padding:5px;
}

#block-views-advertisers-block_1 .advertiserTitle a{
	font-size:17px;
	font-weight:bold;
}

p{
	text-align:justify;
}

.arttabs_primary li.active{
	background-color:#206d67;
}

.arttabs_primary li.active a{
	color:#ffffff;
}

.view-gallery table td{
	text-align:center;
	border-top-width:0px;
	border-right-width:0px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right-color:#000000;
	border-top-color:#000000;
	border-bottom-color:#7f3f03;
	border-left-color:#7f3f03;
	border-top-style:solid;
	border-bottom-style:solid;
	background-color:transparent;
	-moz-border-radius:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}

.view-gallery table td a{
	text-align:center;
	color:#e5e5e5;
}

.view-gallery .views-field-title{
	color:#191919;
	font-size:13px;
	font-weight:bold;
}

.view-gallery table{
	width:100%;
}

div.view-gallery .views-field-field-gallery-image-fid a:hover{
	background-color:transparent;
}

div.view-gallery div.views-field-field-gallery-image-fid a:hover{
	background-color:transparent;
}

div.view-gallery table.views-view-grid img{
	padding:2px;
	-moz-border-radius:10px;
	background-color:#000000;
}

div.view-gallery div.views-field-field-gallery-image-fid a:hover img{
	background-color:#CE0606;
	-moz-border-radius:10px;
}

div.view-gallery div.views-field-title{
	font-size:13px;
}

h2.art-PostHeader{
	font-size:16px;
	margin-top:0;
	margin-left:0;
	margin-bottom:10px;
	margin-right:0;
}

#left .redBlock{
	width:130px;
	overflow-x:hidden;
	overflow-y:hidden;
}

.site-map-menus{
	float:right;
}

.panel-BottomCright .redBlock{
	width:100%;
}

.panel-BottomCright .redBlock .inner-block{
	width:97%;
}

.footer{
	background-color:#cf0606;
	padding:10px;
	-moz-border-radius:0 0 20px 20px;
	margin-bottom:-20px;
	margin-top:20px;
}

.footerMap{
	background-color:#ffffff;
	padding:10px;
}

.footerMap ul.menu li{
	float:right;
	margin:0 0 0 0.5em;
}

.footerMap ul.menu li a{
	color:#000000;
	font-size:17px;
}

.footerMap ul.menu li ul li a{
	color:#510303;
	font-size:13px;
}

.footerMap ul.menu li ul li ul{
	display:none;
}

.footerMap ul.menu li ul li{
	float:right;
	clear:right;
}

.footer .footer-message{
	color:#FFFFFF;
	font-size:15px;
}

#block-tabbed_block-0{
	width:310px;
	float:left;
	padding:10px;
	height:375px;
}

#block-tabbed_block-0 .inner-block{
	background-color:#EDEDED;
}

#block-tabbed_block-0 .field-content{
	float:right;
	white-space:normal;
	width:100%;
	margin-bottom:10px;
	cursor:move;
}

#block-tabbed_block-0 .views-field-title{
	margin-top:10px;
}

#block-tabbed_block-0 .views-field-title .field-content a{
	white-space:normal;
}

.block-tabbed_block .view-footer{
	text-align:center;
	border-top:1px solid #97A5B0;
}

.block-tabbed_block .tabbed_block-nav{
	background-color:#EDEDED;
	display:block;
	height:24px;
	list-style:none outside none;
	margin:0;
	padding:0;
	width:100%;
}

.block-tabbed_block .tabbed_block-container{
	border:1px solid #97A5B0;
	clear:both;
	-moz-border-radius:7px;
	background-color:#FFFFFF;
}

.block-tabbed_block .tabbed_block-nav li.tabbed_block-selected a{
	border-bottom:0px solid #97A5B0;
	background-color:#cf0606;
	color:#ffffff;
	background-image:url(images/block/reBG.jpg);
}

.block-tabbed_block .tabbed_block-nav li{
	background:none repeat scroll 0 0 transparent;
	color:#027AC6;
	display:block;
	float:right;
	margin:0 0 -1px 3px;
	padding:0;
}

.block-tabbed_block .tabbed_block-nav a{
	-moz-border-radius:5px 5px 0 0;
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#000000;
	display:block;
	font-size:14px;
	font-weight:normal;
	height:20px;
	line-height:1.2;
	margin:0 9px 0 0;
	padding:3px 4px 0;
	text-align:center;
	text-decoration:none;
	top:1px;
	width:80px;
	z-index:2;
}

.block-tabbed_block .tabbed_block-nav a:hover{
	color:#000000;
}

#left .redBlock h3{
	white-space:normal;
	padding-top:5px;
}

.field-field-adowner-logo{
	text-align:center;
	margin-bottom:15px;
}

#block-menu_block-2{
	width:820px;
	float:right;
}

.group-tids-28{
	height:120px;
	width:200px;
	overflow-x:hidden;
	overflow-y:hidden;
	float:right;
}

.art-article a{
	color:blue;
	text-decoration:underline;
}

.panel-Bottomleft .cleanBlock{
	float:left;
	margin-left:10px;
}

#banner4{
	text-align:center;
}

#leftFloatingAd{
	direction:ltr;
	left:0;
	position:absolute;
	top:0;
}

#rightFloatingAd .leftFloatBlock{
	right:0px;
}

#leftFloatingAd .leftFloatBlock{
	left:0px;
}

#rightFloatingAd{
	direction:rtl;
	right:0;
	position:absolute;
	top:0;
}

.leftFloatBlock{
	position:fixed;
}

#block-views-home_page_videos-block_1 h3.active{
	background-color:#FFFFFF;
	border-bottom:2px solid #FFFFFF;
	color:#CE0606;
}

#block-views-home_page_images-block_1 h3.active{
	background-color:#FFFFFF;
	border-bottom:2px solid #FFFFFF;
	color:#CE0606;
}

#block-views-home_page_videos-block_1 h3:first{
	margin-left:5px;
}

#block-views-home_page_images-block_1 h3:first{
	margin-left:5px;
}

#block-tabbed_block-0 .item-list li{
	cursor:move;
}

#sportTitle{
	margin-left:5px;
}

#sportImageTitle{
	margin-left:5px;
}
 
#cke_contents_edit-comment, #cke_contents_edit-field-article-teaser-0-value, #cke_contents_edit-field-home-promotion-teaser-0-value{
	height:220px !important;
}

.art-PostContent .field-type-datetime{
	margin-bottom:20px;
}

.type-video .art-PostContent .field-type-datetime, .type-gallery .art-PostContent .field-type-datetime{
	margin-bottom:0px;
}

#footerBlock ul.menu li{
	margin:0;
}

.contribution{
	margin:24px 0 12px;
}

#block-block-8{
	float:left;
	height:30px;
	margin-bottom:0;
	margin-top:0;
	overflow:hidden;
}

td.active {
	background-color:transparent;
}

.field-field-article-releted-gallerys{
	margin-bottom:25px;
	margin-top:-20px;
}

.field-field-article-releted-gallerys .field-label {
	float:right;
}
.field-field-article-releted-gallerys a {
	margin-top:9px;
}

.field-field-article-releted-gallerys .field-item {
	background-image:url(images/camera.jpg);
	background-repeat:no-repeat;
	width:15px;
	height:9px;
	overflow:hidden;
	position:relative;
	top:3px;
	
}

#block-menu_block-1 ul.menu li{
	list-style:disc outside;
	color:#CE0606;
}

.da2a_button{
	float:left;
}

.tabbed_block-hide{
	display:none;
}

#block-block-10{
	margin-top:0;
	float:left;
	margin-left:0px;
}

#block-block-11{
	margin-top:0;
}

#block-addtoany-0{
	float:left;
}

#block-menu-secondary-links{
	margin:20px 0 0;
}

.field-field-article-in-the-name .field-label{
	float:right;
}

.smaller{
	width:595px;
}

.views-table tr td{ 
	padding: 0 5px;
}

.fblikeFrame body.transparent_widget{ 
	direction:rtl !important;
}

.gallery_image_field_gallery a{
	font-size:17px;
	font-weight:bold;
}

.view-gallery table td.views-field-delete-node a, .view-gallery table td.views-field-edit-node a{
	color:#000000;
} 

.art-Post-body .field-field-youtube-video{
	margin-bottom:20px;
	margin-top:20px;
}

div.view-gallery table.views-view-grid td {
	border:1px solid grey;
	padding-bottom:5px;
}

#block-tagadelic-10{
	padding:5px;
}


#block-tagadelic-10 .inner-block{
	padding:5px;
	width:auto;
}

div.view-gallery table.views-view-grid {
	table-layout:auto;
	width:100%;
}

div.dev-query{
  margin-top:69px;
}

.imagefield-field_article_image{
  height:auto;
  max-width:600px;
}

.block-og_menu .inner-block ul.menu li {
  color:#CE0606;
list-style:disc outside none;
}